<div class="container shadow">
    <div class="row">
        <div class="col-12 mt-3">
            <p>Sponsors section</p>
            <hr>
            <p class="pl-3">En esta secci&oacute;n podr&aacute;s administrar tus
                sponsors actuales
            </p>
        </div>
    </dv>
</div>