<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head'); %>
  <title>NotiBuilder</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <div class="container h-100">
    <div class="d-flex h-100 justify-content-center">
      <div class="d-flex shadow rounded flex-column formulario mt-auto mb-auto flex-wrap">
        <div class="d-flex align-items-center flex-column mb-3">
          <img class="shadow align-self-center bg-light rounded shadow img-logo" src="/img/notiBuilder/logo.png">
          <small class="text-muted">Noticias Rapidas.</small>
        </div>
        <form class="m-2 mw-100" action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Correo electronico:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" class="form-control" id="email" name="email" placeholder="Correo electronico" required>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Contrasena:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                </div>
                <input type="password" class="form-control" name="password" id="password" placeholder="Contrasena" required>
            </div>
          </div>
          <div class="d-flex flex-column my-4 flex-wrap">
            <button type="submit" class="btn btn-login align-self-center btn-block btn-lg">Ingresar</button>
          </div>
        </form>
        <div class="d-flex">
          <hr class="hr-log">
          <p>or</p>
          <hr class="hr-log">
        </div>
        <div class=" d-flex align-items-center my-2">
          <a type="button" class="btn btn-secondary btn-block btn-lg" id="ucolSign" href="/fed/login">Ingresar con UCOL</a>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/scripts'); %>
</body>
</html>