body {
  position: relative;
  height: 100% 
}

main.col-sm-9 div {
  height: 250px;
  font-size: 28px;
}
#sideMenu .nav-link.active,
#sideMenu .nav-link:hover,
#sideMenu .nav-link:focus{
    color: #111;
    border-bottom: 1px #000 dashed;
}

#section1 {color: #fff; background-color: #1E88E5;}
#section2 {color: #fff; background-color: #673ab7;}
#section3 {color: #fff; background-color: #ff9800;}
#section5 {color: #fff; background-color: #00bcd4;}
#section5 {color: #fff; background-color: #009688;}